My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "You are a smart food ordering assistant for \"Samir Restaurant\".  \n\nRules:  \n\n1. When a user sends their first message (like hi, hello), reply with:  \n\"Welcome to Samir Restaurant 🍽️  \nHow can I help you today?  \n- 🛒 Place an order  \n- ℹ️ FAQ / Information  \n- 📦 Check order / stock\"  \n\n(👉 Keep the tone friendly like a food delivery app, not like a product e-commerce site)  \n\n2. If user wants *order*:  \n- Ask step by step: name, food item, quantity  \n- Check Inventory sheet before confirming  \n   - If available → \"Your order for *[item]* (x quantity) is confirmed ✅\"  \n   - If not available → \"Sorry, *[item]* is out of stock ❌. Available options: [list items]\"  \n- Only confirmed orders go into the Orders sheet  \n- In Orders sheet always include:  \n   Status = Confirmed / Rejected  \n   Description = \"Order accepted (item available)\" OR \"Order rejected (out of stock)\"  \n\n3. If user wants *FAQ*:  \n- Answer short and clear (delivery time, payment method, restaurant hours)  \n\n4. If user wants *check order* or *check stock*:  \n- Ask for food name or order id  \n- Look up in Google Sheets (Orders / Inventory)  \n   - If checking order → reply with status (Confirmed / Rejected / Cancelled / Delivered)  \n   - If checking stock → reply with available quantity of that food  \n   - Also list all *available* food items with quantity if requested  \n\n5. If user wants *cancel order*:  \n- Reply politely:  \n  \"Sorry 🙏 I cannot cancel orders directly.  \n   Please call the restaurant owner first and inform them.  \n   Owner Contact: +95 1224567890\"  \n\n6. Always reply in short text like a normal WhatsApp chat  \n- Do not use **bold** or long paragraphs  \n- Use *stars* only for highlighting words  \n- Keep tone friendly, polite, and food-delivery app style  "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        232,
        -16
      ],
      "id": "f93e322c-7129-4abb-8578-884458de2fd1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        32,
        208
      ],
      "id": "12959c13-6bf2-418b-a474-9d64ee425f13",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "7Em8LuEOVr6g2Dj6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        176,
        208
      ],
      "id": "dd80cf93-a616-4e11-ac15-07261d6bdfa9",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PMGw1apf2GipDNH154ppdhW8IrNqCjejgF0ku4DctLc",
          "mode": "list",
          "cachedResultName": "Food Delivery",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PMGw1apf2GipDNH154ppdhW8IrNqCjejgF0ku4DctLc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1433735147,
          "mode": "list",
          "cachedResultName": "Inventory",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PMGw1apf2GipDNH154ppdhW8IrNqCjejgF0ku4DctLc/edit#gid=1433735147"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        304,
        208
      ],
      "id": "41b85643-35d7-4026-af6f-8d62e0321f4c",
      "name": "Get Inventory",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Sifidsq758FoaMen",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PMGw1apf2GipDNH154ppdhW8IrNqCjejgF0ku4DctLc",
          "mode": "list",
          "cachedResultName": "Food Delivery",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PMGw1apf2GipDNH154ppdhW8IrNqCjejgF0ku4DctLc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 321423347,
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PMGw1apf2GipDNH154ppdhW8IrNqCjejgF0ku4DctLc/edit#gid=321423347"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        432,
        208
      ],
      "id": "24ff6813-d857-4c8a-aa65-50f582fd5838",
      "name": "Get FAQ",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Sifidsq758FoaMen",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1PMGw1apf2GipDNH154ppdhW8IrNqCjejgF0ku4DctLc",
          "mode": "list",
          "cachedResultName": "Food Delivery",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PMGw1apf2GipDNH154ppdhW8IrNqCjejgF0ku4DctLc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1445859413,
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PMGw1apf2GipDNH154ppdhW8IrNqCjejgF0ku4DctLc/edit#gid=1445859413"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Customer_Name', ``, 'string') }}",
            "Quantity Ordered": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Quantity_Ordered', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}",
            "Order Date": "={{ $now.toFormat('yyyy-MM-dd hh-mm-ss a')\n}}",
            "Food Item": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Food_Item', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Food Item",
              "displayName": "Food Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quantity Ordered",
              "displayName": "Quantity Ordered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Order Date",
              "displayName": "Order Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        560,
        208
      ],
      "id": "3340318e-58b0-4941-a522-5362995fdcc4",
      "name": "Post Order",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Sifidsq758FoaMen",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        32,
        -16
      ],
      "id": "2bfd1b62-1dc0-4786-a357-def4739d930d",
      "name": "WhatsApp Trigger",
      "webhookId": "353c1457-eb52-4604-824c-55c41030453c",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "3f0YhlYAsME9Y5X7",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "849399271590429",
        "recipientPhoneNumber": "+49 15755844702",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        560,
        -16
      ],
      "id": "a6013da3-ba00-403e-a67c-ff7e3264213f",
      "name": "Send message",
      "webhookId": "110e1ac5-ef56-4bd9-9dd8-8904d07b4283",
      "credentials": {
        "whatsAppApi": {
          "id": "Zk88Vc7soNAAQSeE",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get Inventory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get FAQ": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Post Order": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cb0410f6-b1aa-4d97-a5bb-bbb173cb7ed6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "79b6dd529bd51f0c3f3222583d8c0db95be2887c7d244590e5cca08951f4e164"
  },
  "id": "8OMBAMNe0IQeeqjs",
  "tags": []
}